body {
    font-family: helvetica, sans-serif;
    font-size: 12pt;
    margin:0;
}

.skip {
    position: absolute;
    margin-left: -999px;
    width: 990px;
}

#logo {
    background: #c0b0ff;
    width: 100%;
    margin: 0;
    padding: 0.3em;
    z-index:100;
}

#logo h1 {
    margin: 0;
    font-weight: normal;
    color: #000000; width: 100%; font-size: 24pt; text-align: center;
}

#logo h2 {
    margin: 0;
    font-weight: normal;
    color: #000000; width:100%; font-size: 12pt; text-align: center;
}
#subnav {
    background: #c0b0ff;
    margin: 0;
    padding: 0 1em;
}
#subnav ul {
    clear: both;
    padding: 0;
}

#subnav li div {
    display: block;
    padding: 0.2em 0 0.2em 1em;
}
#subnav li a {
    width: 9em;
    display: block;
    padding: 0.2em 0 0.2em 1em;
}

#main {
    margin: 0;
    max-width: 70em;
    background: white;
    padding: 0 1em 1em 1em;
}

h1 { font-size: 16pt; }
h2 { font-size: 14pt; }

a { text-decoration: none; }

table {
    margin: .3em;
}

td {
    padding: .3em;
    border-left: 1px solid #ddd;
}
td:first-child {
    border-left: 0;
}

.headrow { font-weight: bold; }
.headrow td {
    border-bottom: 1px solid black;
}

footer {
    text-align: right;
    clear: both;
    padding: 0 20px;
}

#main img {
    max-width: 100%;
}

@media screen and (min-width: 48.25em) {

    #subnav {
	float: left;
	font-size: 14pt;
	margin: 0 0 0 0;
	padding: 2em 0 2em 0;
    }

    #subnav ul {
    }

    #main {
	margin: 0 0 0 11.5em;
	background: white;
	padding: 0 1em 1em 1em;
    }
}
